In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Avarua,CK,2022-04-04 13:38:44,-21.2078,-159.7750,73.45,100,100,2.30
1,1,Beaverlodge,CA,2022-04-04 13:38:45,55.2166,-119.4361,27.75,79,100,2.95
2,2,Rikitea,PF,2022-04-04 13:38:45,-23.1203,-134.9692,77.49,63,24,10.45
3,3,Saskylakh,RU,2022-04-04 13:38:45,71.9167,114.0833,-16.33,100,99,4.68
4,4,Tasiilaq,GL,2022-04-04 13:38:45,65.6145,-37.6368,24.96,86,76,8.41

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Rikitea,PF,2022-04-04 13:38:45,-23.1203,-134.9692,77.49,63,24,10.45
6,6,Mitu,CO,2022-04-04 13:34:12,1.1983,-70.1733,79.92,78,96,2.98
9,9,Maceio,BR,2022-04-04 13:38:46,-9.6658,-35.7353,87.24,62,40,11.50
11,11,Souillac,MU,2022-04-04 13:38:47,-20.5167,57.5167,80.98,78,75,11.50
16,16,Atuona,PF,2022-04-04 13:38:49,-9.8000,-139.0333,79.41,74,18,24.70
19,19,Kavieng,PG,2022-04-04 13:38:49,-2.5744,150.7967,80.29,84,100,15.19
22,22,East London,ZA,2022-04-04 13:38:50,-33.0153,27.9116,76.14,69,0,9.22
24,24,Weligama,LK,2022-04-04 13:38:51,5.9667,80.4167,78.64,83,34,3.27
25,25,Carnarvon,AU,2022-04-04 13:38:51,-24.8667,113.6333,77.07,83,0,16.11
30,30,Port Hedland,AU,2022-04-04 13:38:53,-20.3167,118.5667,82.45,78,0,10.36

In [14]:
preferred_cities_df.count()

City_ID       180
City          180
Country       180
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2        Rikitea      PF     77.49 -23.1203 -134.9692
6           Mitu      CO     79.92   1.1983  -70.1733
9         Maceio      BR     87.24  -9.6658  -35.7353
11      Souillac      MU     80.98 -20.5167   57.5167
16        Atuona      PF     79.41  -9.8000 -139.0333
19       Kavieng      PG     80.29  -2.5744  150.7967
22   East London      ZA     76.14 -33.0153   27.9116
24      Weligama      LK     78.64   5.9667   80.4167
25     Carnarvon      AU     77.07 -24.8667  113.6333
30  Port Hedland      AU     82.45 -20.3167  118.5667

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [31]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Rikitea,PF,77.49,-23.1203,-134.9692,People ThankYou
6,Mitu,CO,79.92,1.1983,-70.1733,
9,Maceio,BR,87.24,-9.6658,-35.7353,Hotel Ponta Verde Maceió
11,Souillac,MU,80.98,-20.5167,57.5167,Shanti Maurice Resort & Spa
16,Atuona,PF,79.41,-9.8000,-139.0333,Villa Enata
19,Kavieng,PG,80.29,-2.5744,150.7967,Nusa Island Retreat
22,East London,ZA,76.14,-33.0153,27.9116,Tu Casa
24,Weligama,LK,78.64,5.9667,80.4167,Weligama Bay Resort
25,Carnarvon,AU,77.07,-24.8667,113.6333,Hospitality Carnarvon
30,Port Hedland,AU,82.45,-20.3167,118.5667,The Esplanade Hotel (Accommodation section clo...

In [36]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))